.headerContainer {
  max-width: 960;
  margin: 0 auto;
  padding: 1.45rem 1.0875rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.autoMargin {
  margin: auto;
}

.iaiLogo {
  float: 'left';
  height: '50px';
  box-shadow: '2px 2px 5px 2px rgba(0, 0, 0, 0.1)';
  margin-bottom: '0';
}